<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.init">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Init">
        <activity
            android:name=".chapter1.Chapter1activity"
            android:parentActivityName=".MenuActivity"
            ></activity>
        <activity
            android:name=".chapter1.Niveau1_1"
            android:parentActivityName=".chapter1.Chapter1activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chapter1.Chapter1activity" />
        </activity>
        <activity
            android:name=".chapter1.Niveau1_2"
            android:parentActivityName=".chapter1.Chapter1activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chapter1.Chapter1activity" />
        </activity>
        <activity
            android:name=".chapter1.Niveau1_3"
            android:parentActivityName=".chapter1.Chapter1activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chapter1.Chapter1activity" />
        </activity>
        <activity
            android:name=".chapter1.Niveau1_4"
            android:parentActivityName=".chapter1.Chapter1activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chapter1.Chapter1activity" />
        </activity>
        <activity
            android:name=".chapter1.Niveau1_5"
            android:parentActivityName=".chapter1.Chapter1activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chapter1.Chapter1activity" />
        </activity>
        <activity
            android:name=".chapter2.Chapter2activity"
            android:parentActivityName=".MenuActivity"
            ></activity>
        <activity
            android:name=".chapter2.Niveau2_1"
            android:parentActivityName=".chapter2.Chapter2activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chapter2.Chapter2activity" />
        </activity>
        <activity
            android:name=".chapter2.Niveau2_2"
            android:parentActivityName=".chapter2.Chapter2activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chapter2.Chapter2activity" />
        </activity>
        <activity
            android:name=".chapter2.Niveau2_3"
            android:parentActivityName=".chapter2.Chapter2activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chapter2.Chapter2activity" />
        </activity>
        <activity
            android:name=".chapter2.Niveau2_4"
            android:parentActivityName=".chapter2.Chapter2activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chapter2.Chapter2activity" />
        </activity>
        <activity
            android:name=".chapter2.Niveau2_5"
            android:parentActivityName=".chapter2.Chapter2activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chapter2.Chapter2activity" />
        </activity>
        <activity
            android:name=".MenuActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>